.container {
    width: -webkit-fill-available;
    padding-top: 1rem;
}

.loginNote {
    /* Temp until note is brought in */
    min-height: 4rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-sizing: border-box;
}
.loginNote .loginButton {
    position: absolute;
    top: -1rem;
    right: 2rem;
    z-index: 1200;
}

.listHeader {
    padding-left: 1rem;
}
