.container {
    width: -webkit-fill-available;
    padding-top: 1rem;
}

.container .loginButton {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1200;
}

.listHeader {
    padding-left: 1rem;
}
