env:
  global:
    - SAFE_CLI_VERSION=0.9.0
    - secure: "G+hQbK2+8f6XFDopDJNddw3D8pEYx8OcWS4HAPpdXWY3Uo1mOFMObQsK7PjKoVKU7+n/ScL6t1FmRPuqCaxzEZa4jztgtViyVlb04mUI331f0xnuURiSOwHNwkEXpYAOXjmA79UFkSw4BTDVH+A4cJr5wxep+Xr85wGUwRscyDMjNg4DFQHmkNYK+JluquZ2+31yDI/Rl8qgM6vOQAhf4hV72UGKNpjGknPtFqiwnf/j2Q8IT3QiUeOLaEQbgOFAQ/ad7YGt9B0vhRBkh7X3vUMrSU5JXtsZZwETpfOzE6rDUg5d+YJpwhmIlPgqg/o7hL0gyZm+mk5fY/fdWoKAoHSa2/OkMyRN0UXopg5ZDDq1NQb5Pt1a1ndgWH9tlJXRfjXaurtip+ExEamXhr+bMISqbFHyQkLHCnyC1O3LQOLbIHOv6kjNqPYLAHIE/ysagkXg6iZ9k7WOv4Rw436GoMNS1rEL0a2iacC9+X3w770QZ1mlSxYqXsswxtJLvI7kHNN+2vwJb563FJxaaaTYm66T2dYFpZhG0/o0IIM8BPTEGDit8mIBFjzZtbMP1DVRjfZhoX6zc9hXggFr8PdWBHIy6MC3dl23f84X74NnBf6RgDF6EnlQRA5D4YnB8hMHbyzwpl+Zu1ACnKfmdn7Q8QoKOC8bS9Fb/nBr7svqguo="
matrix:
  include:
    - os: osx
      osx_image: xcode11
      language: node_js
      node_js:
        - "12"
      env:
        - ELECTRON_CACHE=$HOME/.cache/electron
        - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
        - NODE_ENV=prod

cache:
  yarn: true
  directories:
    - node_modules
    - $(npm config get prefix)/lib/node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder

before_install:
  - echo $TRAVIS_NODE_VERSION
  - export CSC_IDENTITY_AUTO_DISCOVERY=true
  - yarn --version
  - export SHOULD_NOTARIZE=true

install:
  - yarn;
  # install safe-cli + authd
  - mkdir -p ~/.safe/safe-cli;
  - |
    wget "https://github.com/maidsafe/safe-api/releases/download/$SAFE_CLI_VERSION/safe-cli-$SAFE_CLI_VERSION-x86_64-apple-darwin.tar.gz" -O $TMPDIR/safe.tar.gz;
    tar -xvzf $TMPDIR/safe.tar.gz -C ~/.safe/safe-cli/
  - ~/.safe/safe-cli/safe auth install;

script:
  - xattr -cr . ;
  - yarn package
  # Split up yarn test-e2e-packed for faster/more specific retries
  - travis_retry yarn cross-env NODE_ENV=test TEST_CAFE=true testcafe electron:. ./__e2e__/Account
  - travis_retry yarn cross-env NODE_ENV=test TEST_CAFE=true testcafe electron:. ./__e2e__/AppGeneral
  - travis_retry yarn cross-env NODE_ENV=test TEST_CAFE=true testcafe electron:. ./__e2e__/OnBoarding
  - travis_retry yarn cross-env NODE_ENV=test TEST_CAFE=true testcafe electron:. ./__e2e__/OverviewPage
  - travis_retry yarn cross-env NODE_ENV=test TEST_CAFE=true testcafe electron:. ./__e2e__/Permissions
  - travis_retry yarn cross-env NODE_ENV=test TEST_CAFE=true testcafe electron:. ./__e2e__/Settings


after_failure:
# check resolution...
- system_profiler SPDisplaysDataType | grep Resolution
- cat $TMPDIR/safe-network-app.log;
- ls "/Users/travis/build/joshuef/safe-network-app/release/"
- ls "release/mac/SAFE Network App.app"
- ls "release/mac/SAFE Network App.app/Contents/Resources/"
- ls "release/linux/resources"