.pageContainer {
    padding-top: 2rem;
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.noPaddedSides {
    padding-left: 0;
    padding-right: 0;
}

.pageContainer > div {
    padding-top: 1rem;

    /* padding-left: 1rem;
    padding-right: 1rem; */
}
